@use "./../variables";

.btn {
  position: relative;
  display: block;

  &--add {
    background-color: variables.$c-cta;
    color: white;
    padding: 0 10px;
    font-weight: 500;
  }

  &--remove {
    height: 40px;
    width: 40px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 20px;
      width: 2px;
      border-radius: 2px;
      top: 50%;
      left: 50%;
      background-color: white;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
