@use "./../variables";
.btn {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;

  &--add {
    // background-color: variables.$c-pine-teal;
    border-radius: 50%;

    &::before,
    &::after {
      // content: "";
      position: absolute;
      height: 25px;
      width: 4px;
      border-radius: 2px;
      background-color: variables.$c-pine-teal;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
