@use "./../variables";

.filters {
  padding: 10px 15px;
  display: flex;

  ul {
    display: flex;
    align-items: center;
    max-height: 0;
    height: auto;
    overflow: hidden;
    transform-origin: top center;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out 0.1s;

    a {
      display: block;
      color: variables.$c-cta-secondary;
      padding: 5px 10px;
      border-radius: 4px;

      &:active {
        color: variables.$c-cta-primary;
      }

      &.active {
        color: variables.$c-bg-primary;
        background-color: variables.$c-cta-secondary;
        font-weight: 500;
      }
    }

    &.active {
      max-height: 360px;
      opacity: 1;
    }
  }
}
