@use "./../variables";

.filters {
  padding: 10px 15px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 -3px;

  ul {
    display: flex;
    flex-direction: row;
    max-height: 0;
    height: auto;
    overflow: hidden;
    transform-origin: top center;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out 0.1s;

    @media (max-width: 375px) {
      flex-direction: column;
    }

    li {
      padding: 3px;
    }

    a {
      display: block;
      color: variables.$c-cta-secondary;
      padding: 5px 10px;
      border-radius: 4px;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
        text-decoration-color: variables.$c-cta-primary;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
      }

      &:active {
        color: variables.$c-cta-primary;
      }

      &.active {
        color: variables.$c-bg-primary;
        background-color: variables.$c-cta-secondary;
      }
    }

    &.active {
      max-height: 360px;
      opacity: 1;
    }
  }
}
