form {
  &.create-task {
    display: flex;
    justify-content: space-between;
    position: relative;

    label {
      position: absolute;
      height: 1px;
      width: 1px;
      margin: -1px;
      overflow: hidden;
    }

    input {
      width: 75%;
    }

    button {
      width: 20%;
    }
  }
}
