form {
  &.create-task {
    display: flex;
    position: relative;

    label {
      position: absolute;
      height: 1px;
      width: 1px;
      margin: -1px;
      overflow: hidden;
    }
  }
}
