@use "./../variables";

.tasks {
  h3 {
    padding: 20px 15px;
    text-align: center;
  }
}

.task {
  padding: 10px 0;

  &__inner {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    background-color: rgba(variables.$c-bg-card, 0.1);
    box-shadow: variables.$shadow;
    border-radius: 4px;
    color: white;

    label {
      position: relative;
      padding-left: 30px;

      &::before,
      &::after {
        content: "";
        position: absolute;
      }

      &::before {
        left: 0;
        top: 50%;
        margin-right: 20px;
        width: 15px;
        height: 15px;
        background: white;
        transform: translateY(-50%);
      }

      &::after {
        top: -2px;
        left: 2px;
      }
    }

    input[type="checkbox"]:focus {
      outline: none;
    }

    input[type="checkbox"]:checked ~ label {
      text-decoration: line-through;
      text-decoration-thickness: 2px;

      &::before {
        opacity: 0;
      }

      &::after {
        content: url("../assets/checkmark.svg");
      }
    }

    button {
      margin-left: auto;
    }
  }

  &--new {
    input[type="checkbox"]:focus {
      & ~ label {
        &::before {
          outline: variables.$c-cta-primary solid 2px;
        }
      }
    }
  }

  &--complete {
    input[type="checkbox"]:focus {
      & ~ label {
        &::after {
          width: 15px;
          height: 20px;
          outline: variables.$c-cta-primary solid 2px;
        }
      }
    }
  }
}
