@use "./../variables";

.tasks {
  &__heading {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: black;
    }
  }
}

.task {
  padding: 10px 0;

  &__inner {
    display: flex;
    padding: 10px 15px;
    background-color: rgba(variables.$c-bg-card, 0.1);
    box-shadow: variables.$shadow;
    border-radius: 4px;
    color: white;

    label {
      position: relative;

      &::before,
      &::after {
        content: "";
      }

      &::before {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        background: white;
      }
    }

    input[type="checkbox"]:focus ~ label {
      &::before {
        outline: #5d9dd5 solid 3px;
      }
    }

    input[type="checkbox"]:checked ~ label {
      &::before {
        background-color: red;
      }
    }
  }
}
