@keyframes scaleDown {
  from {
    opacity: 1;
    height: auto;
    transform: scale(1);
  }

  25% {
    padding: 0;
    opacity: 0;
  }

  45% {
    // height: 0;
  }

  to {
    opacity: 0;
    height: 0;
    padding: 0;
    transform: scale(0);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
    opacity: 0;
    transform: scale(0);
  }

  // 25% {
  //   padding: 0;
  //   opacity: 0;
  // }

  45% {
    // height: 0;
  }

  to {
    opacity: 1;
    height: auto;
    transform: scale(1);
  }
}

@keyframes slideLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
.scale-up {
  animation-name: scaleUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.scale-down {
  animation-name: scaleDown;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.slide-left {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.slide-right {
  animation-name: slideRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
