@use "mixins";

@keyframes scale-down {
  from {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@include mixins.animationClasses("scale-up", "scale-down", "slide-left", "slide-right");
