@use "sass:color";

$c-bg-primary: #1a1a1d;
$c-text-primary: #eee;
$c-bg-card: color.adjust($c-bg-primary, $lightness: 10%);
$c-shadow: color.adjust($c-bg-primary, $blackness: 10%);
$shadow: 2px 4px 8px $c-shadow;
$c-cta-primary: #826aed;
$c-cta-secondary: $c-text-primary;

$font-sizes: (
  h1: 4rem,
  h2: 1.2rem,
  h3: 1.1rem,
);

$btn-size: 40px;
$btn-size-sm: 20px;
