@use "sass:color";

$c-bg-primary: #fb8b24;
$c-text-primary: #001219;
$c-bg-card: #ff9f1c;
$c-pine-teal: #1b4d3e;

$linear-bg: radial-gradient(
  circle,
  rgba(131, 56, 236, 1) 0%,
  rgba(1, 22, 39, 1) 100%
);

$font-sizes: (
  h1: 4rem,
  h2: 3rem,
  h3: 2rem,
);
