@use "sass:color";

$c-bg-primary: #fb8b24;
$c-text-primary: #110c04;
$c-bg-card: #bb3e03;

$c-cta: #2e7a88;

$linear-bg: radial-gradient(
  circle,
  rgba(131, 56, 236, 1) 0%,
  rgba(1, 22, 39, 1) 100%
);

$font-sizes: (
  h1: 4rem,
  h2: 3rem,
  h3: 2rem,
);

// #2E7A88
// #993942
// #6B4B3E
